<!DOCTYPE html>
{% load static %}
<html lang="fn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion d'Inscription</title>
    <link rel="stylesheet" href="{% static 'inscription_app/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        {% block content%} {% endblock content%}
    </div>
    <!-- affiche de la liste-->
     <div class="container mt-5">
        <h2 class="text-center alert alert-info">Listes des inscripts</h4>
        {% if stu %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col"> Option</th>
              </tr>
            </thead>
            <tbody>
                {% for st in stu %}
              <tr>
                <th scope="row">{{st.id}}</th>
                <td>{{st.nom}}</td>
                <td>{{st.prenom}}</td>
                <td>{{st.age}}</td>
                <td>{{st.email}}</td>
                <td>{{st.option}}</td>
              </tr>
              {% endfor%} 
            </tbody>
          </table>
        {% else %}
        <h4 class="text-center alert alert-warning"> Pas d'inscription</h4>
        {% endif %}
     </div>

     <div class="container mt-5">
      <a href="{% url 'ajout' %}">
        <button type="button" class="btn btn-primary">Retour</button>
      </a>
     </div>

    <script src="{% static 'inscription_app/js/jquery.js' %}"></script>
    <script src="{% static 'inscription_app/js/bootstrap.js' %}"></script>
    <script src="{% static 'inscription_app/js/popper.js' %}"></script>

</body>
</html>